<div class="modal-header">
    <h4 class="modal-title">Preview</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="card w-100" style="width: 18rem;">
        <img [src]="src" alt="preview" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{file?.name}}</h5>
            <p class="card-text">
                {{file?.path}}
            </p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>