<div class="modal-header">
    <h4 class="modal-title">Duplicate Image</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="d-flex flex-row">
        <div class="card p-2">
            <img [src]="origSrc" class="w-100 img-thumbnail" />
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="p-2 flex-grow-1">{{duplicate?.location}}</div>
                    <div class="p-2"><button type="button" class="btn btn-danger" (click)="delete(duplicate?.location)">
                            <fa-icon [icon]="icon_delete"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card p-2" *ngFor="let dup of duplicate?.duplicates, let i = index">
            <img [src]="dupSrc$[i]|async" class="w-100 img-thumbnail" />
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="p-2 flex-grow-1">{{dup}}</div>
                    <div class="p-2">
                        <button type="button" class="btn btn-danger" (click)="delete(dup)">
                            <fa-icon [icon]="icon_delete"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>